
<div class="city-wrapper">
    <div class="city-list">
        <div class="location">
            <div class="location-header header">定位城市</div>
            <div class="location-city">定位失败</div>
        </div>

        <div class="hotCity">
            <div class="hotCity-header header">热门城市/区域</div>
            <ul>
                <li>全国</li>
                <li>境外</li>
                <li>北京</li>
                <li>上海</li>
                <li>深圳</li>
                <li>广州</li>
                <li>杭州</li>
                <li>天津</li>
                <li>重庆</li>
                <li>成都</li> 
                <li>西安</li>
                <li>香港</li>
            </ul>
        </div>

        <div class="city">
            <div class="city-header header">A</div>
            <ul>
                <li>阿坝</li>
                <li>安庆</li>
                <li>鞍山</li>
                <li>安阳</li>
                <li>澳门</li>
            </ul>
            <div class="city-header header">B</div>
            <ul>
                <li>包头</li>
                <li>北海</li>
                <li>北京</li>
                <li>本溪</li>
            </ul>
            <div class="city-header header">C</div>
            <ul>
                <li>长春</li>
                <li>昌吉</li>
                <li>长沙</li>
                <li>常州</li>
                <li>成都</li>
                <li>重庆</li>
            </ul>
        </div>
    </div>
    
</div>
