
<div class="product-list-main">
    <div class="product-list-main-box">
        <div class="product-list-mian-box-titile">推荐</div>
        <div class="product-list-main-box-nav">
            <div class="main-box-nav-one">
                <span>全部分类</span>
                <i class="iconfont icon-jiantouxia product-icon"></i>
            </div>
            <div class="main-box-nav-one">
                <span>全部时间</span>
                <i class="iconfont icon-jiantouxia product-icon"></i>
            </div>
            <div class="main-box-nav-one">
                <span>推荐排序</span>
                <i class="iconfont icon-jiantouxia product-icon"></i>
            </div>
            <div class="main-box-nav-one">
                <span>全部城市</span>
                <i class="iconfont icon-jiantouxia product-icon"></i>
            </div>
        </div>
        <div class="product-list-main-list">
            {{#each list}}
            <div class="product-list-main-list-detail">
                <div class="img">
                    <img src={{this.verticalPic}}>
                </div>
                <div class="info">
                    <div class="item-info-title">{{this.name}}</div>
                    <div class="item-info-city">{{this.venueCity}}&nbsp;/&nbsp;{{this.showTime}}&nbsp;/&nbsp;{{this.venueName}}</div>
                    <div class="item-info-label">{{this.name}}</div>
                    <div class="item-info-price">
                        <div class="price">￥{{this.formattedPriceStr}}</div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>