
<div class="warpper">
    <header id="header">
        <div class="header-icon__site">
            <a href="/#/citySite">
                <i class="iconfont icon-liebiaoyedizhi"></i> <span>全国</span> 
            </a>
        </div>
        <div class="header-search"> <i class="iconfont icon-sousuo"></i> <input type="text" placeholder="搜索明星、演出比赛、场馆">
        </div>
        <div class="header-icon__personal"> <i class="iconfont icon-wode"></i> </div>
    </header>
</div>
<div class="more-nav_top" style="display: none;">
    <ul class="more-nav_ul">
        <li class="more-nav_item"> <em>全部分类</em>  <i class="iconfont icon-jiantouxia"></i>
            <div class="list_container">
                <div class="better-scroll_container">
                    <ul class="classity-list content" >
                        <li > <em>全部分类</em>  <i class="iconfont icon-xuanzhong"></i> </li>
                        <li > <em>演唱会</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li > <em>话剧歌剧</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li > <em>音乐会</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>曲苑杂坛</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li > <em>舞蹈芭蕾</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li > <em>体育比赛</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>展览休闲</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li > <em>动漫</em>  <i class="iconfont icon-xuanzhong"></i></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="more-nav_item" > <em>全部时间</em>  <i class="iconfont icon-jiantouxia"></i>
            <div class="list_container">
                <div class="better-scroll_container">
                    <ul class="time-list content" >
                        <li> <em>全部时间</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>今天</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>明天</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>本周末</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>一周内</em>  <i class="iconfont icon-xuanzhong"></i></li>
                        <li> <em>一月内</em>  <i class="iconfont icon-xuanzhong"></i></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="more-nav_item"> 推荐排序 </li>
        <li class="more-nav_item" > 距离最近 </li>
    </ul>
</div>

    <main class="main">
        <div class="content">

        </div>
    </main>

<div class="to-top">
    <i class="iconfont icon-zhiding"></i>
</div>

