<section class="main-slideshow">
      
</section>
    <section class="main-nav">
       
    </section>
    <section class="main-poster">
        <img src="https://img.alicdn.com/tps/i4/TB19cmFer2pK1RjSZFswu1NlXXa.png" width="100%" alt="">
    </section>
    <section class="main-artist">
        <div class="artist-top">
            <h2 class="artist-top_title">最IN明星演出</h2> 
            <span class="artist-top_myFoucs">
                我的关注&nbsp;&nbsp;
                <i class="iconfont icon-jiantouyou"></i>
            </span>
        </div>
        <div class="artist-list">
                 
        </div>
    </section>
    <section class="main-more">
        <div class="more-title">
            <h2>更多演出</h2>
        </div>
        <div class="more-nav">
            <ul>
                <li>
                    全部分类
                    <i class="iconfont icon-jiantouxia"></i>
                </li>
                <li>
                    全部时间
                    <i class="iconfont icon-jiantouxia"></i>
                </li>
                <li>
                    推荐排序
                </li>
                <li>
                    距离最近 
                </li>
            </ul>
        </div>
        <div class="more-list">
            
            <ul>

            </ul>
            
            <div class="pullReflash">
                <span>上拉刷新</span>
                <i class="iconfont icon-huanyihuan"></i>
            </div>
        </div>
    </section>