
    {{#each list}}
        <li pid="{{this.id}}">
            <img src="{{this.verticalPic}}" alt="">
            <div class="more-list_detail">
                <h2>{{this.name}}</h2>
                <span class="list-site">
                    {{this.logicAddress}} / {{this.nearestPerformTime}} / {{this.venueName}}
                </span>
                <div class="list-seat">
                    <span> 可选座 </span>
                    <span>套票</span>
                </div>
                <span class="list-price">
                    ￥{{priceStr}}
                </span>
            </div>
        </li>
    {{/each}}
 