
    <header class="Login-header">
        <div class="Login-header-img">
            <a>
                <img src="//gw.alicdn.com/tfs/TB1bx8NXlfH8KJjy1XbXXbLdXXa-300-138.png">
            </a>
        </div>
    </header>
    <section class="Login-main">
        <div class="Login-main-phone">
            <div class="Login-main-phone-left">
                +86
                <i class=""></i>
            </div>
            <div class="Login-main-phone-right">
                <input type="text" placeholder="请输入手机号码">
            </div>
        </div>
        <div class="Login-main-pwd">
            <input type="text" placeholder="请输入密码">
        </div>
        <div class="Login-mian-btn">
            <a href="#">
                登录
            </a>
        </div>
        <div class="Login-main-loginAndReg">
            <div class="Login-main-loginAndReg-left">
                <a href="#">账号密码登录</a>
            </div>
            <div class="Login-main-loginAndReg-right">
                <a href="#">新用户注册</a>
            </div>
        </div>
    </section>
