
<div class="better-scroll">
      <div class="better-scroll-wrap">
            <div class="swiper-box">
                  <div class="swiper-container swiper2-container">
                        <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                    <img src="{{this.img.p1}}"> 
                              </div>
                              <div class="swiper-slide">
                                    <img src="{{this.img.p2}}"> 
                              </div>
                              <div class="swiper-slide">
                                    <img src="{{this.img.p3}}"> 
                              </div>
                              <div class="swiper-slide">
                                    <img src="{{this.img.p4}}"> 
                              </div>
                              <div class="swiper-slide">
                                    <img src="{{this.img.p5}}"> 
                              </div>
                        </div>
                        <div class="swiper-pagination"></div>
                  </div>
            
            </div>
            
            <div class="productlist-lunbo"></div>
            <div class="product-palce">
                  <div class="product-palce-title">
                        热门目的地
                  </div>
                  <div class="product-palce-img">
                        <div class="product-palce-img1">
                              <img src="https://img.alicdn.com/tps/i4/TB1WsMKuyAnBKNjSZFvSuuTKXXa.jpg">
                        </div>
                        <div class="product-palce-img2">
                              <img src="https://img.alicdn.com/tps/i4/TB17o4VuCYTBKNjSZKbSutJ8pXa.jpg">
                        </div>
                        <div class="product-palce-img3">
                              <img src="https://img.alicdn.com/tps/i4/TB12ambekvoK1RjSZFDSutY3pXa.jpg">
                        </div>
                  </div>
            </div>
            
            <div class="product-main"></div>

      </div>
</div>

 <div class="scroll-info-bottom scroll-info">
      <i class="iconfont icon-huanyihuan updata-icon"></i>
      <span class="scroll-info__title"> &nbsp;&nbsp;加载中</span>
 </div>