
<div class="swiper-box">
      <div class="swiper-container swiper2-container">
            <div class="swiper-wrapper">
                  <div class="swiper-slide">
                        <img src="{{this.img.p1}}"> 
                  </div>
                  <div class="swiper-slide">
                        <img src="{{this.img.p2}}"> 
                  </div>
                  <div class="swiper-slide">
                        <img src="{{this.img.p3}}"> 
                  </div>
                  <div class="swiper-slide">
                        <img src="{{this.img.p4}}"> 
                  </div>
                  <div class="swiper-slide">
                        <img src="{{this.img.p5}}"> 
                  </div>
            </div>
            <div class="swiper-pagination"></div>
      </div>
     
</div>