<div class="register">
    <div class="header">
        <div class="register-phone">
            <input id="phone-num" type="text" placeholder="请输入手机号码">
            <i class="phone-num-line"></i>
        </div>
        <div class="register-pwd">
            <input id="phone-pwd" type="text" placeholder="请输入密码">
            <i class="phone-pwd-line"></i>
        </div>
        
    </div>
    <div class="register-btn">
        <a href="#/reg" class="reg-btn">
            同意协议并注册
        </a>
    </div>
    <div class="footer">
            <span>我已阅读接受
                <a href="" target="_blank">《大麦网会员服务协议》</a>
                及
                <a href="" target="_blank" >《隐私专项条款》</a>并同意自动注册成为会员
            </span>
    </div>
    <div class="text-msg">
            手机号码为11位
    </div>
</div>