
@import '../static/css/reset';
@import '../static/fonts/iconfont';

#header{
    width: 100%;
    height: 1.333333rem;
    display: flex;
    justify-content: space-around;
    .header-icon__site{
        margin: 0 .48rem;
        font-size: .42667rem;
        color: #222;
    }
    .header-search{
        width: 6.2rem;
        height: .746667rem;
    }
    .header-icon_personal{ 

    }
}