@import '../static/css/reset';

a{
    text-decoration: none;
}
html,body{height: 100%;width: 100%}
.root{height: 100%;width: 100%}
#info{
    background: #e7e7e7;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#good-info-main{
    height: 16.506667rem;
    overflow: auto;
}
.pro-item{
    height: 5.066667rem;
    border-bottom: .013333rem solid #e7e7e7;
    position: relative;
    background: #fff;
    .pro-item_blur{
        position: relative;
        height: 3.786667rem;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 100% auto;
        .pro-item_blur_bg{
            background-image: url("//pimg.dmcdn.cn/perform/project/1655/165572_n.jpg?_t=1539240946780?1539360396663&x-oss-process=image/resize,p_50");
            background-color: rgb(231, 231, 231);
            background-repeat: no-repeat;
            background-size: 200% auto;
            background-position: 0 50%;
            height: 100%;
            width: 100%;
            -webkit-transform: scale(1.1)!important;
            transform: scale(1.1)!important;
            -webkit-filter: saturate(1) brightness(1) blur(.33333rem) contrast(.8);
            filter: saturate(1) brightness(1) blur(.33333rem) contrast(.8);
        }
    }
    .pro-item_box{
        position: absolute;
        top: .8rem;
        right: .22667rem;
        left: .32rem;
        height: 3.786667rem;
        display: flex;
        justify-content: space-between;
        .pro-item_img{
            width: 2.8rem;
            height: 3.786667rem;
            border-radius: .08rem;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .pro-item_words{
            width: 6.133333rem;
            height: 100%;
            p{
                color: #ffffff;
                font-weight: bold;
                font-size: .4rem;
            }
            .pro-item_detail{
                margin-bottom: .24rem;
            }
            .pro-item_price{
                position: absolute;
                bottom: 0;
                font-size: .53333rem;
                font-weight: 700;
                color: #ff1268;
                .pro-item_price_unit{
                    font-size: .26667rem;
                    color: #999;
                    margin-left: .133333rem;
                }
            }
        }

    }
}

.cell{
    font-size: inherit;
    color: #666;
    display: flex;
    justify-content: space-between;
    padding: .33333rem .32rem;
    background: #fff;
}
.cell-bottom-border{
    .map{
        height: .666667rem;
        width: .666667rem;
        img{
            width: 100%;
        }
    }
}
.dm-card {
    margin-bottom: .26667rem;
    border-top: .013333rem solid #e7e7e7;
    border-bottom: .013333rem solid #e7e7e7;
    background: #fff;
    padding:  0 .333333rem;
    .dm-card_hd {
        height: 1.333333rem;
        line-height: 1.333333rem;
    }
    .dm-card_bd{
        padding: .2rem 0;
        font-size: .34667rem;
        color: #666;
        font-size: .32rem;
        .project-notice_bd{
            .project-notice_item{
                display: flex;
                padding-bottom: .24rem;
                .project-notice_bd_title {
                    margin-right: .42667rem;
                    min-width: 1.41333rem;
                    font-size: .34667rem;
                    color: #999;
                }
                .notice_bd_cont {
                    font-size: .34667rem;
                    color: #666;
                }
            }
        }
    }
    .dm-card_ft{
        border-top: .013333rem solid #e7e7e7;
        height: 1.2rem;
        line-height: 1.2rem;
        font-size: .32rem;
        color: #ff1268;
        text-align: center;
        a{
            color: #ff1268;
        }
    }
}
.project_cards{
    margin-top: .26667rem;
}

#good-info-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    width: 100%;
    .button-group{
        display: flex;
        height: 1.28rem;
        width: 100%;
        border-top: .013333rem solid #ccc;
        a{
            display: block;
        }
        .button-small{
            width: 1.333333rem;  
            border-right: .013333rem solid #ccc;      
            font-size: .266667rem;
            color: #666;
            i{
                font-size: .533333rem;
            }
        }
        .button-item{
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
        }
        .button-item:last-of-type{
            flex-grow: 1;
            
            font-size: .4rem;
        }
        .pink{
            background-image: linear-gradient(90deg,#ff4aae,#ff1268);
            color: #fff;
        }
    }
}

.v-modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
    z-index: 2000;
}

#buy{
    position: absolute;
    display: none;
    //height: 11.333333rem;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 9999;
    //display: flex;
    flex-direction: column;
    justify-content: space-between;
    .buy-body{
        padding: .48rem .333333rem 0;
        height: 10rem;
        overflow: auto;
        .buy-body-card{
            margin-bottom: .52rem;
            
            .buy-card_title{
                font-size: .34667rem;
                letter-spacing: .0052rem;
                color: #666;
                line-height: .52rem;
            }
            .buy-card_content{
                overflow: hidden;
                margin-top: .37333rem;               
                .buy-card_content-button{
                    float: left;
                    border: .013333rem solid #e7e7e7;
                    border-radius: .08rem;
                    padding: .26667rem .18667rem;
                    min-width: 2.613333rem !important;
                    height: 1.06667rem;
                    text-align: center;
                    margin-right:.4rem; 
                    font-size: .346667rem;
                    
                }
                .buy-card_chooce{
                    display: flex;
                    height: 1.06667rem;
                    line-height: 1.06667rem;
                    font-size: .533333rem;
                    margin: 0;
                    padding: 0;
                    .buy-card_allprice{
                        width: 3.2rem;
                    }
                    .buy-card_num{
                        width: 5.866667rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            color: #777777;
                            display: block;
                            background: #f2f3f4;
                            border: 1px solid #e7e7e7;
                            font-size: .74667rem;
                            font-weight: 100; 
                            height: .666667rem;
                            line-height: .666667rem;
                            font-style: normal;
                            width: .666667rem;
                        }
                        .disabled {
                            pointer-events: none;
                            cursor: default;
                            opacity: 0.6;
                        }
                        input{
                            width: 2.666667rem;
                            height: .666667rem;
                            line-height: .666667rem;
                            text-align: center;
                            font-size: .346667rem;
                            border: 0;

                        }
                    }
                }
                .checked{
                    color: #ff1268;
                    border: .013333rem solid #ff1268;
                }
                
            }
        }
    }

    .buy-button{
        // position: absolute;
        // left: 0;
        // bottom: 0;
        background-image: linear-gradient(90deg,#ff4aae,#ff1268);
        width: 100%;
        height: 1.28rem;
        a{
            display: block;
            
            line-height: 1.28rem;
            text-align: center;
            color: #fff;
            font-size: .4rem;
        }
    }
}
