.better-scroll{
    width: 100%;
    height: 100%;
}
.swiper-box{
    .swiper-pagination-bullet{
        width: .266667rem;
        height: .266667rem;
        background-color: #fff;
    }
}
.productlist-box{
    width: 10rem;
    height: 7.413333rem;
    .listlunbo-title{
        font-size: .586667rem;
        padding: .64rem 0 0 .48rem;
        color: #111;
        font-family: PingFangSC-Medium;
    }
    .listlunbo-main{
        height: 5.6rem;
        // width: 10rem;
        // overflow-x: auto;
        margin-top: .64rem;
        .listlunbo-main-box{
            height: 5.333333rem;
            padding: 0px .48rem;
            white-space: nowrap;
            .listlunbo-bscroll {
                position: relative;
                width: 3.466667rem;
                height: 3.466667rem;
                display: inline-block;
                margin-right: 0.8rem;
                img{
                    width: 3.466667rem;
                    height: 3.466667rem;
                    
                    border-radius: 3.466667rem;
                    vertical-align: middle;
                }
                .attention{
                    position: absolute;
                    top: 3.253333rem;
                    left: 24%;
                    border-radius: .96rem;
                    color: rgba(255,255,255,.75);
                    background-color: rgba(0,0,0,0.5);
                    font-size: .32rem;
                    padding: 0 .266667rem;
                }
                .name{
                    position: absolute;
                    left: .026667rem;
                    font-size: .426667rem;
                    line-height: .426667rem;
                    margin-top: .4rem;
                    width: 3.466667rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }
                .city{
                    position: absolute;
                    top: 4.746667rem;
                    font-size: .32rem;
                    color: #888;
                    width: 3.466667rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }
            }
        }
    }
}

.product-palce{
    width: 10rem;
    height: 4.186667rem;
    padding: 0 .48rem;
    .product-palce-title{
        color: #111;
        margin: .666667rem 0;
        line-height: .586667rem;
        font-size: .586667rem;
    }
    .product-palce-img{
        width: 100%;
        height: 2.933333rem;
        overflow: hidden;
        .product-palce-img1,.product-palce-img2,.product-palce-img3{
            width:2.84rem;
            display: inline-block;
            margin-right: .106667rem;
            border-radius: .16rem;
            overflow: hidden;
        }
    }
}

.product-list-main{
    width: 10rem;
    padding: 0rem .48rem;
    margin: o auto;
    .product-list-mian-box-titile{
        color: #111;
        margin: .666667rem 0 .4rem;
        line-height: .586667rem;
        height: .586667rem;
        font-size: .586667rem;
    }
    .main-box-nav-one{
        display: inline-block;
        color: #111;
        line-height: .853333rem;
        width: 2.1rem;
        font-size: .346667rem;
        i{
            display: inline-block;
            width: .4rem;
            height: .4rem;
        }
    }
    .product-list-main-list{
        width: 100%;
        .product-list-main-list-detail{
            width: 100%;
            height: 3.2rem;
            margin-top: .533333rem;
            margin-bottom: 1.2rem;
            .img{
                display: inline-block;
                vertical-align: top;
                width: 2.4rem;
                height: 3.2rem;
                img{
                    width: 2.4rem;
                    height: 3.2rem;
                    border-radius: .08rem;
                    overflow: hidden;
                }
            }
            .info{
                display: inline-block;
                margin-left: .32rem;
                vertical-align: top;
                width: 6rem;
                height: 3.2rem;
                position: relative;
                .item-info-title{
                    font-size: .426667rem;
                    line-height: .586667rem;
                    color: #111;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                }
                .item-info-city{
                    font-size: .32rem;
                    line-height: .45333333rem;
                    color: #222;
                    margin-top: .16rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .item-info-label{
                    margin-top: .16rem;
                    height: .42666667rem;
                    overflow: hidden;
                }
                .item-info-price{
                    position: absolute;
                    bottom: .10666667rem;
                    margin-top: .32rem;
                    line-height: .37333333rem;
                    font-size: .37333333rem;
                    color: #111;
                    width: 6.32rem;
                
                }
            }
        }
    }
}
.scroll-info-bottom {
    width: 100%;
    height: 1.066667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f7f7;
        i{
        display: inline-block;
        width: .533333rem;
        height: .533333rem;
        font-size: .453333rem;
    }
    .scroll-info-bottom {
        .icon-loading { display: none; }
    }
    
    .scroll-info-bottom .loading {
        .icon-loading { display: block; }
    }
    
}