<header id="header">
    <div class="header-icon__site">
        <i class="iconfont icon-liebiaoyedizhi"></i> <span>全国</span> 
    </div>
    <div class="header-search"> <i class="iconfont icon-sousuo"></i> <input type="text" placeholder="搜索明星、演出比赛、场馆">
    </div>
    <div class="header-icon__personal"> <i class="iconfont icon-wode"></i> </div>
</header>

<div class="more-nav_top" style="display: none;">
    <ul class="more-nav_ul">
        <li class="more-nav_item"> 全部分类 <i class="iconfont icon-jiantouxia"></i>
            <div class="list_container">
                <div class="better-scroll_container">
                    <ul class="classity-list content" >
                        <li >全部分类</li>
                        <li >演唱会</li>
                        <li >话剧歌剧</li>
                        <li >音乐会</li>
                        <li>曲苑杂坛</li>
                        <li >舞蹈芭蕾</li>
                        <li >体育比赛</li>
                        <li>展览休闲</li>
                        <li >动漫</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="more-nav_item" > 全部时间 <i class="iconfont icon-jiantouxia"></i>
            <div class="list_container">
                <div class="better-scroll_container">
                    <ul class="time-list content" >
                        <li>全部时间</li>
                        <li>今天</li>
                        <li>明天</li>
                        <li>本周末</li>
                        <li>一周内</li>
                        <li>一月内</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="more-nav_item"> 推荐排序 </li>
        <li class="more-nav_item" > 距离最近 </li>
    </ul>
</div>

<main class="main">
    <div class="content">

    </div>
</main>


<div class="to-top">
    <i class="iconfont icon-zhiding"></i>
</div>