<ul>
        <li>
            <span class="main-nav_icon" style=" background: url(https://img.alicdn.com/tps/i4/TB1p8sXdNYaK1RjSZFnwu180pXa.png) no-repeat;background-size: auto 100%; background-position: center;"></span>
            <span class="main-nav_item">演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>
        <li>
                <span class="main-nav_icon"></span>
            <span>演唱会</span>
        </li>

    </ul>