<div class="swiper-container">
        <div class="swiper-wrapper">
            {{#each list}}
            <div class="swiper-slide">
                <div class="slide-artist">
                    <img src="{{this.artPic}}" alt="">
                </div>
                <div class="slide-introduce">
                    <div class="slide-introduce_top">
                        <span class="introduce-name">
                           {{this.artistName}}
                        </span>
                        <span class="introduce-fans">
                            {{this.artFans}}
                        </span>
                    </div>

                    <div class="slide-introduce_site">
                       {{#each this.citySet}}
                        <span>{{this}}</span>
                       {{/each}}
                    </div>

                    <div class="slide-introduce_foucs">
                        <span class="foucs-btn">+关注</span>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div> 