<div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-artist">
                    <img src="https://intercms.damai.cn/artist/pic/1535596053705/1535596053705-main.jpg" alt="">
                </div>
                <div class="slide-introduce">
                    <div class="slide-introduce_top">
                        <span class="introduce-name">
                            周杰伦
                        </span>
                        <span class="introduce-fans">
                            109.6w粉丝
                        </span>
                    </div>
                    <div class="slide-introduce_site">
                        泉州/绍兴/贵阳
                    </div>
                    <div class="slide-introduce_foucs">
                        <span class="foucs-btn">+关注</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-artist">
                    <img src="https://intercms.damai.cn/artist/pic/1535596053705/1535596053705-main.jpg" alt="">
                </div>
                <div class="slide-introduce">
                    <div class="slide-introduce_top">
                        <span class="introduce-name">
                            周杰伦
                        </span>
                        <span class="introduce-fans">
                            109.6w粉丝
                        </span>
                    </div>
                    <div class="slide-introduce_site">
                        泉州/绍兴/贵阳
                    </div>
                    <div class="slide-introduce_foucs">
                        <span class="foucs-btn">+关注</span>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide-artist">
                    <img src="https://intercms.damai.cn/artist/pic/1535596053705/1535596053705-main.jpg" alt="">
                </div>
                <div class="slide-introduce">
                    <div class="slide-introduce_top">
                        <span class="introduce-name">
                            周杰伦
                        </span>
                        <span class="introduce-fans">
                            109.6w粉丝
                        </span>
                    </div>
                    <div class="slide-introduce_site">
                        泉州/绍兴/贵阳
                    </div>
                    <div class="slide-introduce_foucs">
                        <span class="foucs-btn">+关注</span>
                    </div>
                </div>
            </div>
        </div>
    </div> 