
<div class="order">
    <div class="orderMain">
        <div class="orderScroll">
            <div class="pull-to-refresh">
                <i class="iconfont  icon-jiantouxia"></i>
                <span>下拉刷新</span>
            </div>
        
            <div class="orderlist">
            
            </div>
        
        
            <div class="loading-layer">
                <span>没有更多数据</span>
            </div>
        </div>
    </div>
    <div class="order_footer">
        <div class="order_footer_l order_footer_flex">
            <span>全选</span>
            <input type="checkbox" class="whole-check" />
        </div>
        <div class="order_footer_c order_footer_flex">
            <span>0</span>
        </div>
        <div class="order_footer_r order_footer_flex">
            <a href="javascript:;">结算</a>
        </div>
    </div>

</div>