<div class="profile-box">
    <div class="profile-header">
        <div class="pro-head-img"></div>
        <div class="pro-heade-right">
                <span class="pro-login">
                        <a>登录/</a>
                </span>
                <span class="pro-reg">
                        <a>注册</a>
                </span>
        </div>
        <div class="profile-name"></div>
        
    </div>
    <div class="pro-order">
        <div class="pro-order-left">
            <i class="iconfont  icon-dingdan icon"></i>
            <span>
                <a>我的订单</a>
            </span>
        </div>
        <div class="pro-order-right">
            <i class="iconfont icon-jiantouyou arrow"></i>
        </div>
    </div>
    <div class="pro-quan">
            <div class="pro-quan-left">
                <i class="iconfont icon-youhuiquan icon"></i>
                <span>
                    <a>优惠券</a>
                </span>
            </div>
            <div class="pro-quan-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    <div class="pro-ticket">
            <div class="pro-ticket-left">
                <i class="iconfont icon-yanchurili icon"></i>
                <span>
                    <a>我的票</a>
                </span>
            </div>
            <div class="pro-ticket-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    <div class="pro-focus">
            <div class="pro-focus-left">
                <i class="iconfont icon-shoucang icon"></i>
                <span>
                    <a>我的关注</a>
                </span>
            </div>
            <div class="pro-focus-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    <div class="pro-address">
            <div class="pro-address-left">
                <i class="iconfont icon-shouhuodizhiyebianji icon"></i>
                <span>
                    <a>收货地址</a>
                </span>
            </div>
            <div class="pro-address-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    <div class="pro-people">
            <div class="pro-people-left">
                <i class="iconfont icon-changyonggoupiaorenbianji icon"></i>
                <span>
                    <a>常用购票人</a>
                </span>
            </div>
            <div class="pro-people-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    <div class="pro-certifi">
            <div class="pro-certifi-left">
                <i class="iconfont icon-shimingrenzheng icon"></i>
                <span>
                    <a>实名认证</a>
                </span>
            </div>
            <div class="pro-certifi-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    <div class="pro-idea">
            <div class="pro-idea-left">
                <i class="iconfont icon-pingjia icon"></i>
                <span>
                    <a>意见反馈</a>
                </span>
            </div>
            <div class="pro-idea-right">
                <i class="iconfont icon-jiantouyou arrow"></i>
            </div>
    </div>
    
    <div class="profile-back">
        <a href="#/login">退出登录</a>
    </div>
</div>