

    <header class="Login-header">
        <div class="Login-header-img">
                <a href="#/login">
                    <img src="//gw.alicdn.com/tfs/TB1bx8NXlfH8KJjy1XbXXbLdXXa-300-138.png">
                </a>
        </div>
    </header>
    <section class="Login-main">
        <div class="Login-main-phone">
            <div class="Login-main-phone-left">
                +86
                <i class="iconfont icon-jiantouxia jiantou-down"></i>
            </div>
            <input type="text" class="login-phone" placeholder="请输入手机号码">
            <i class="phone-num-line"></i>
        </div>
        <div class="Login-main-pwd">
            <input type="text" class="login-pwd" placeholder="请输入密码">
            <i class="phone-pwd-line"></i>
        </div>
        <div class="Login-mian-btn login-btn">
            <a href="#/login" class="login-a">
                登录
            </a>
        </div>
        <div class="Login-main-loginAndReg">
            <div class="Login-main-loginAndReg-left">
                <a href="#/login" >账号密码登录</a>
            </div>
            <div class="Login-main-loginAndReg-right">
                <a  href="#/reg">新用户注册</a>
            </div>
        </div>
      
    </section>
    <div class="login-text-msg">
        手机号码为11位
    </div>
